body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to bottom, #040d1f, #191c22,  #141b24,#070a0d);
    color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    animation: back 5s infinite;
  }
  
  .container {
    text-align: center;
    max-width: 1000px;
    padding: 20px;
    background-color: #1e1e2f;
    border-radius: 8px;
    box-shadow: 0 0 20px 5px rgba(255, 255, 255, 0.8), 
              0 0 40px 15px rgba(173, 216, 230, 0.5);
  transition: transform 0.3s, box-shadow 0.3s;
}
.container::before {
 
  position: absolute;
  top: 50px;
  left: 50px;
  width: 4px;
  height: 4px;

  border-radius:200px;
  box-shadow: 
    50px 100px 2px white, 
    100px 200px 3px rgba(255, 255, 255, 0.8),
    150px 50px 1px rgba(255, 255, 255, 0.6),
    200px 150px 2px rgba(255, 255, 255, 0.7);
  animation: twinkle 2s infinite ease-in-out alternate;
}

/* Add hover effect for glowing and scaling */
.container:hover {
  transform: scale(1.05);
  box-shadow: 0 0 30px 10px rgba(255, 255, 255, 0.9), 
              0 0 60px 20px rgba(173, 216, 230, 0.7);
}


#result{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* width: 200px; 
   height: 200px; */
  /* border: 2px solid red; */
}
#result img{
   max-width: 300px;
   max-height: 200px;
   border-radius: 50%;
}
/* stars animation */
@keyframes twinkle {
  0% {
    opacity: 0.8;
    transform: scale(1);
  }
  100% {
    opacity: 1;
    transform: scale(1.2);
  }
}

  .input-section {
    margin-bottom: 20px;
  }
  
  input[type="date"] {
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    border: none;
    font-size: 16px;
  }
  
  button {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    background-color: #4a4a6a;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #6a6a8a;
  }
  
  .result-section {
    margin-top: 20px;
    font-size: 18px;
  }
  .result-section img {
    max-width: 100%;
    margin-top: 20px;
    border-radius: 50%;
  }
 
